body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #212121;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.logo>a {
    font-family: 'Raleway';
    font-weight: 700;
    text-decoration: none;
    color: #212121;
}
.logo>a>span {
    color: #2196F3;
}

header {
    font-weight: 500;
    font-size: 14px;
}
.link {
    color: #212121;
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: #2196F3;
}
.contact>a {
    color: #757575;
    text-decoration: none;
}
.contact>a:hover,
.contact>a:focus {
    color: #2196F3;
    cursor: pointer;
}   
section > .title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
.advert {
    background-color: #2F303A;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.button1 {
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
}
.button1:hover,
.button1:focus {
    cursor: pointer;
}
.text1 {
    color: #757575;
}
.text1>div {
    font-weight: 700;
    color: #212121;
}
.text2 {
    color: #757575;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.accent {
    color: #212121;
    font-weight: 500;
}
.footer {
    background-color: #2F303A;
    color: #FFFFFF;
}
.footer [href="/index.html"] {
    color: inherit;
}
address {
    font-style: normal;
}
address .contact {
    color: rgba(255,255,255,0.6);
}
.button2 {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    background-color: #F5F4FA;
}
.button2:hover,
.button2:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
}
.text3 {
    color: #757575;
    font-size: 16px;
    line-height: 1.88;
}
.text3 h3 {
    font-weight: 700;
    color: #212121;
    font-size: 18px;
    line-height: 2;
}
.team {
    background-color: #F5F4FA;
}